<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="footer">
    <footer class="text-center text-lg-start text-white footer">
        <section>
            <div class="container text-center text-md-start">
                <div class="row ms-0 ms-md-5">
                    <div class="col-md-4 col-xl-2 mb-4 mt-4">
                        <h6 class="fw-bold mt-2 mt-md-0 mb-4" th:text="#{view.footer.learn}">learn</h6>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.courses}">courses</a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.java}">course</a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.help}">help</a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.pricing}">pricing</a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.game}">game</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{view.footer.community}">community</h6>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.general.users}">users</a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.articles}">articles</a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.forum}">forum</a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.chat}">chat</a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.stories}">stories</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{view.footer.company}">company</h6>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.about}">about</a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.general.contacts}">contacts</a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.reviews}">reviews</a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.faq}">faq</a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{view.footer.support}">support</a>
                        <p>
                    </div>

                    <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                        <img src="/static/images/logo/jr.svg" alt="JavaRush" class="mb-3">
                        <p th:text="#{view.footer.text}">text</p>
                        <h6 th:text="#{view.footer.follow}">follow US</h6>
                        <div>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-facebook-f pe-1"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center pb-4" th:text="#{view.footer.slogan}">slogan</div>
    </footer>
</div>
</html>
